<%- include('./partials/header.ejs')%>

<body>
    <%- include('./partials/nav.ejs')%>

<!-- content -->
<div class="content">
    <form class="login"style="height: 60%;" action="/login" method="post">
        <div class="form-title">
            <h1>Log In</h1>
        </div>
        <%if(typeof error != 'undefined'){%>
            <% error.forEach(function(error){%>
                <div class="alert alert-danger" role="alert">
                    <%= error.msg%>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                <%}) %>
         <%}%>
         <%if(typeof alert != 'undefined'){%>
           
            <div class="alert alert-warning" role="alert">
                <%= alert%>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
           
     <%}%>
        <div class="inputGroup">
            <input type="email" placeholder="Email" autocomplete="off" name="username"  class="inputLables">
            <div class="control"style=" width:95%; display:flex;gap:5px;justify-content:center;align-items:center;">
                <input type="password" required id="myInput" autocomplete="off"  name="Password" placeholder="Password e.g 12343yhrr$@" class="inputLables" required style="height: 100%;"><i class="bi bi-eye-fill" onclick="myFunction()" ></i>

            </div>
            <a href="#">Forget password?</a>
            

            <a href="/signup">Do not have an account? Sign up here</a>

            <button class="btn btn-success" style="width: 90px;height: 40px;">LogIn</button>
        </div>
    </form>
</div>
<!-- footer -->
<%- include('./partials/footer.ejs')%>
